@mixin toolbar-theme($theme) {

  $primary: map-get($theme, primary);
  $accent: map-get($theme, accent);

  .toolbar-buttons {
    display: flex;
    flex-direction: row;
    margin: 0 20px;

    .mat-button {
      color: mat-color($accent, 500);

      &:hover {
        background: mat-color($primary, 700);
      }
    }
  }
}

